[Unit]
Description           = Authenticating utility for net.cuc.edu.cn
StartLimitIntervalSec = 0

[Service]
ExecStartPre = -/usr/local/bin/auth-cuc -D deauth
ExecStartPre = -/usr/local/bin/auth-cuc -D auth
ExecStart    = /usr/local/bin/auth-cuc online
Restart      = always
RestartSec   = 5

[Install]
WantedBy = default.target
