[Unit]
Description           = Authenticating utility for net.cuc.edu.cn
StartLimitIntervalSec = 0

[Service]
ExecStartPre = -/usr/local/bin/auth-cuc -D deauth -6
ExecStartPre = -/usr/local/bin/auth-cuc -D auth -6
ExecStart    = /usr/local/bin/auth-cuc online -6
Restart      = always
RestartSec   = 5

[Install]
WantedBy = multi-user.target
